In [1]:
import numpy as np

In [2]:
#Sales for quarter 1 (Matrix 1)
#Rows represent different products and columns represent different regions 


q1 = np.array([
    [200,220,250], #product A
    [150,180,210], #product B
    [300,330,360]  #product C
])


q2 = np.array([
    [209,231,251], #product A
    [155,192,222], #product B
    [310,340,375]  #product C
])

In [3]:
q1 + q2

array([[409, 451, 501],
       [305, 372, 432],
       [610, 670, 735]])

In [4]:
q2 - q1

array([[ 9, 11,  1],
       [ 5, 12, 12],
       [10, 10, 15]])

In [5]:
#percentage increase
(q2 - q1)*100/q1

array([[4.5       , 5.        , 0.4       ],
       [3.33333333, 6.66666667, 5.71428571],
       [3.33333333, 3.03030303, 4.16666667]])

In [7]:
prices = np.array([
    [10,12,11],  #prices of product A in different region
    [8,9,10],    #prices of b
    [15,16,17]   #prices of c
])

q1_revenue = q1 * prices
q1_revenue

array([[2000, 2640, 2750],
       [1200, 1620, 2100],
       [4500, 5280, 6120]])

In [9]:
q1_dis = q1_revenue*0.2
q1_dis

array([[ 400.,  528.,  550.],
       [ 240.,  324.,  420.],
       [ 900., 1056., 1224.]])

In [11]:
q1_net_rev = q1_revenue - q1_dis
q1_net_rev

array([[1600., 2112., 2200.],
       [ 960., 1296., 1680.],
       [3600., 4224., 4896.]])

In [12]:
np.sum(q1_net_rev)

22568.0

In [15]:
# House price prediction example

features = np.array([
    [2000,3],  #house 1 
    [1800,2]   #house 2
])

weights = np.array([150,50000])

#it gives the house price 
#2000*150 + 3*50000

#but using numpy we can do it easily by using np.dot
np.dot(features,weights)

array([450000, 370000])

In [16]:
#using np.cross(element a , element b )  we can do the cross product between two elements