In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("weather_by_cities.csv")
df.head()

        day      city  temperature  windspeed  event
0  1/1/2017  new york           32          6   Rain
1  1/2/2017  new york           36          7  Sunny
2  1/3/2017  new york           28         12   Snow
3  1/4/2017  new york           33          7  Sunny
4  1/1/2017    mumbai           90          5  Sunny

In [9]:
df[df.city == 'new york']
df[df.city == 'new york'].temperature.max()

36

In [10]:
g = df.groupby("city")
g

In [13]:
for city,data in g:
    print("city:",city)
    print("max:", data.temperature.max())

city: mumbai
max: 92
city: new york
max: 36
city: paris
max: 54

In [14]:
g.describe()

         temperature                                                   \
               count   mean       std   min    25%   50%    75%   max
city
mumbai           4.0  88.50  3.109126  85.0  86.50  88.5  90.50  92.0
new york         4.0  32.25  3.304038  28.0  31.00  32.5  33.75  36.0
paris            4.0  47.75  5.315073  42.0  44.25  47.5  51.00  54.0

         windspeed
             count   mean       std  min   25%   50%    75%   max
city
mumbai         4.0   9.25  5.057997  5.0  5.00   8.5  12.75  15.0
new york       4.0   8.00  2.708013  6.0  6.75   7.0   8.25  12.0
paris          4.0  12.75  5.251984  8.0  9.50  11.5  14.75  20.0

In [15]:
g.size()

city
mumbai      4
new york    4
paris       4
dtype: int64

In [17]:
def grouper(df,idx,col):
    if 80 <= df[col].loc[idx] <= 90:
        return'80-90'
    elif 50 <= df[col].loc[idx] <= 60:
        return'50-60'
    else:
        return 'others'

In [19]:
g = df.groupby(lambda idx: grouper(df,idx,'temperature'))
g

In [20]:
for key,data in g:
    print("key:", key)
    print("data:", data)

key: 50-60
data:          day   city  temperature  windspeed   event
9   1/2/2017  paris           50         13  Cloudy
10  1/3/2017  paris           54          8  Cloudy
key: 80-90
data:         day    city  temperature  windspeed  event
4  1/1/2017  mumbai           90          5  Sunny
5  1/2/2017  mumbai           85         12    Fog
6  1/3/2017  mumbai           87         15    Fog
key: others
data:          day      city  temperature  windspeed   event
0   1/1/2017  new york           32          6    Rain
1   1/2/2017  new york           36          7   Sunny
2   1/3/2017  new york           28         12    Snow
3   1/4/2017  new york           33          7   Sunny
7   1/4/2017    mumbai           92          5    Rain
8   1/1/2017     paris           45         20   Sunny
11  1/4/2017     paris           42         10  Cloudy

## Concat and Merge

In [ ]:
india_weather = pd.Dataframe({
    
})